@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style:normal;
}

:root{
    --cor0:#b6e9ca;
    --cor1:#a4f0c2;
    --cor2:#4AF78F;
    --cor3:#00C14C;
    --cor4:#01923b;
    --cor5:#00752F;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', Arial;
    --fonte-android:'idroid', Arial;
}

*{
    padding:0px;
    margin:0px;
}
body{
    background-color:var(--cor2);
    font-family:var(--fonte-padrao);
}
a{
    font-weight:bold;
    text-decoration:none;
    color:var(--cor4);
}
a:hover{
    text-decoration:underline;
}

header{
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    color:white;
    text-align:center;
    min-height:150px;
    padding-top:30px;
}
header > h1{
    font-family:var(--fonte-destaque);
    font-size:3em;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    margin-bottom:20px;
}
header > p{
    font-size:1.2em;
    max-width:500px;
    margin:auto;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}
nav{
    background-color:var(--cor5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.459);
    padding:10px;
}
nav > a{
    color:white;
    font-weight:bold;
    margin-right:15px;
    padding:10px;
    border-radius:7px;
    transition:0.5s;
}
nav > a:hover{
    background-color:var(--cor3);
    color:var(--cor5);
    text-decoration:none;
}
main{
    background-color: white;
    margin: auto;
    margin-bottom:15px;
    padding:20px;
    max-width:1000px;
    min-width:260px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius:0px 0px 10px 10px;
}
main h1{
    font-family:var(--fonte-android);
    color:var(--cor5);
}
main h2{
    font-family:var(--fonte-android);
    color:var(--cor5);
    background-image:linear-gradient(to right, var(--cor0), #ffffff);
    font-size:1.3em;
}
main p{
    margin:15px 0px;
    text-align:justify;
    text-indent:25px;
    font-size:1em;
    line-height:2em;
}
picture > img{
    width:100%;
}
img#bugdroid{
    display:block;
    margin:auto;
    max-width:280px;
}
div.video{
    background-color:var(--cor5);
    margin:0px -20px 30px -20px;
    padding:20px;
    padding-bottom:56.5%;
    position:relative;
}
div.video iframe{
    position:absolute;
    top:3%;
    left:2.5%;
    width:95%;
    height:95%;
}
aside{
    background-color:var(--cor1);
    border-radius:0px 0px 10px 10px;
    padding:5px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.219);
}
aside h3{
    background-color:var(--cor3);
    margin:-15px -5px 0px -5px;
    border-radius: 10px 10px 0px 0px;
    padding:10px;
    color:white;
}
aside ul{
    list-style-type:'\2714\00A0';
    list-style-position:inside;
    columns:2;
}
footer{
    font-family:var(--fonte-padrao);
    font-style:italic;
    font-size:0.8em;
    text-align:center;
    background-color:var(--cor5);
    color:white;
    padding:5px;
    margin-bottom:0px;
}

