@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@font-face {
    font-family: 'nights';
    src: url('../fonts/SB Liquid W01 Rounded.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}

*{
    padding:0px;
    margin:0px;
}
body{
    background:rgb(255, 255, 255) url(../imagens/Wallpaper\ Tumblr.jpg) center center repeat fixed;
}
header{
    background-color:black;
    color:white;
    text-align:center;
}
header h1{
    padding-top:50px;
    font-family: 'Montserrat';
}
header p{
    padding-bottom:50px;
    font-family:Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    margin: auto;
    margin-bottom:15px;
    padding:20px;
    max-width:1000px;
    min-width:260px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius:0px 0px 10px 10px;
}
div#icons{
    text-align:right;
}
img#icon-som{
    margin-left:35px;
}
section.paragrafo{
    font-size:2em;
    margin:20px;
}
section.paragrafo p{
    max-width:400px;
    line-height:2em;
    font-family:'nights',Arial, Helvetica, sans-serif;
}
section.paragrafo-parallax {
    margin-left:-20px;
    margin-right: -20px;
    background-color:black;
    background-image: url(../imagens/unknown.png);
    background-repeat: no-repeat;
    color:white;
}
.paragrafo-parallax p{
    background-color:rgba(0, 0, 0, 0.295);
}
footer{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
