@charset "UTF-8";

*{
    padding:0px;
    margin:0px;
}
header{
    background-color:black;
    color:white;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
}
header h1{
    font-variant:small-caps;
}
header a{
    text-decoration:none;
    color:white;
}
header a:hover{
    text-decoration:underline;
}
section{
    padding-top:10vh;
    padding-bottom:10vh;
}
section.paragrafo{
    margin:20px;
    padding-left:30px;
}
section.paragrafo p{
    line-height:2em;
    font-family:Arial, Helvetica, sans-serif;
}
section.paragrafo-parallax {
    margin-right:-20px;
    margin-left:-20px;
    padding:50px 70px;
    color:white;
}
section#img1{
    background: black url(../imagens/background001.jpg) center center no-repeat fixed;
}
section#img2{
    background: black url(../imagens/background002.jpg) center center no-repeat fixed;
}
.paragrafo-parallax p{
    background-color:rgba(0, 0, 0, 0.514);
    padding:5px;
    max-width:400px;
}
footer{
    font-size:20px;
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}