form {
    width:500px;
    margin:auto;
}
input, textarea{
    font-family:sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color:rgba(255, 255, 255, 0.808);
}
input:hover, textarea:hover{
    background-color:#dddddd;
}
legend{
    color:#888888;
    font: bold 13pt Arial;
}
fieldset {
    border-color:#cecece;
    margin:20px;
}
fieldset#sexo{
    width:150px;
}
fieldset#usuario{
    background: url("../_imagens/icone-contato.png") no-repeat 280px 60px;
}
textarea#tmsg{
    left:200px;
}
fieldset#endereco{
    background: url("../_imagens/icone-endereco.png") no-repeat 280px 0px;
}
fieldset#mensagem{
    background: url("../_imagens/icone-mensagem.png") no-repeat 280px 0px;
}
fieldset#quero{
    background: url("../_imagens/icone-pagamento.png") no-repeat 280px 0px;
}
p{
    text-align:left;
}